body{
    margin: 0px;
    text-align: center;
    font-family: verdana, sans-serif;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}

h2{
    margin-top: 0px;
    margin: 0 auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 20px;
}

h3, a, label{
    color: #11999E;
}

h1, h2{
    color: #11999E;
}

.top-container{
    background-color: #66bfbf;
    padding-top: 100px;
    position: relative;
}

.top-cloud{
    position: absolute;
    top: 40px;
    right: 200px;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.tagImage{
    width: 15%;
    float: left;
    margin-right: 30px;
}

.tagGif{
    width: 15%;
    float: right;
    margin-left: 30px;
}

.tagGif2{
    width: 15%;
    float: center;
    text-align: center;
    margin-top: auto;
}
.profile{
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}

.profile-image{
    width: 50%;
    margin-bottom: 30px;
    border-radius: 100px;
}

p{
    line-height: 2;
}

hr{
    border: dotted 7px;
    border-bottom: none;
    width: 4%;
    color: #EAF6F6;
    margin-top: 44px;
    margin-bottom: 50px;
}

.contact-button{
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.contact-button:hover{
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container{
    background-color: #66BFBF;
    padding-top: 50px;
    padding-bottom: 30px;
}

.contact-me{
    margin-bottom: 100px;
}

.footer-link{
    margin: 0 20px;
    text-decoration: none;
}

.footer-link:hover{
    color: #EAF6F6;
}

.copy-right{
    color: #EAF6F6;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: small;
}

.index-button{
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-size: 20px;
    padding: 1px 1px 1px 1px;
    text-decoration: none;
    margin-top: 500px;
    margin-bottom: 15%;
}

.index-button:hover{
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}